In [1]:
import pandas as pd
import numpy as np
import os

ROOT_DIR = '../data/'
DATA_DIR = os.path.join(ROOT_DIR, 'JesterDataset3/')
data = pd.read_excel(os.path.join(DATA_DIR, 'FINAL_jester_2006-15.xls'),header = None,index_col = None)

In [8]:
data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,141,142,143,144,145,146,147,148,149,150
0,62,99,99,99,99,0.21875,99,-9.28125,-9.28125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
1,34,99,99,99,99,-9.68750,99,9.93750,9.53125,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
2,18,99,99,99,99,-9.84375,99,-9.84375,-7.21875,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
3,82,99,99,99,99,6.90625,99,4.75000,-5.90625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0
4,27,99,99,99,99,-0.03125,99,-9.09375,-0.40625,99,...,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0,99.0

In [2]:
user_dict = {}
for index, rows in data.iterrows():
    # userId, movieId,rating,_,__ = val
    userId = index +1
    for index, value in enumerate(rows.values,start=1):
        if(value >10 or value<-10):
            continue
        if userId in user_dict:
            user_dict[userId].append((index, value))
        else:
            user_dict[userId] = [(index, value)]
np.save("user_dict_jester", user_dict)
print("processing done!")

processing done!

In [4]:
hist_len = {}
for k, v in user_dict.items():
    hist_len[k] = int(len(v))
np.save("user_hist_jester", hist_len)
print('train data done!')

train data done!

In [26]:
df = pd.Series(user_dict,name = 'arr').rename_axis('userId').explode().reset_index()
df['jokeId'],df['rating'] = zip(*df.arr) 

print(df.head(5))

   userId             arr  jokeId   rating
0       1    (6, 0.21875)       6  0.21875
1       1   (8, -9.28125)       8 -9.28125
2       1   (9, -9.28125)       9 -9.28125
3       1  (14, -6.78125)      14 -6.78125
4       1     (16, 0.875)      16  0.87500

In [31]:
df = df.drop(columns = ['arr'])
print(df.head(5))

   userId  jokeId   rating
0       1       6  0.21875
1       1       8 -9.28125
2       1       9 -9.28125
3       1      14 -6.78125
4       1      16  0.87500

In [32]:
print(type(df))
df.to_csv('jester_rating',index=False)

<class 'pandas.core.frame.DataFrame'>

In [53]:
df = pd.read_csv('jester_rating_original.csv')

In [54]:
df = df.dropna() 
def map_(data):
    
    return  round((5.0)/(20.0)*(data+10.0),1)

df['rating'] = df['rating'].map(map_)
print(df.head(25))

    userId  jokeId  rating
0        1       6     2.6
1        1       8     0.2
2        1       9     0.2
3        1      14     0.8
4        1      16     2.7
5        1      17     0.1
6        1      18     0.2
7        1      19     0.6
8        1      20     0.3
9        1      21     0.2
10       1      22     0.7
11       1      23     0.3
12       1      24     0.4
13       1      25     0.5
14       1      26     0.6
15       1      27     2.5
16       1      28     4.7
17       1      30     4.7
18       1      32     4.7
19       1      33     4.7
20       1      35     2.4
21       1      36     4.7
22       1      37     4.7
23       1      43     2.5
24       1      50     2.5

In [55]:
df.to_csv('jester_rating_sec.csv',index=False)